body {
    margin: 0px;
}

.text {
    font-size: 80px;
    color: orange;
    text-align: center;
    line-height: 3em;
}

.line {
    background-color: orange;
    height: 8px;
    border-radius: 4px;
    width: 0%;
    position: fixed;
    top: 0;
}