.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}
/*DEPRECATED*/
.caja{
  background-color: coral;
  border-radius: 2px;
  padding: 5px;
  padding-right: 10px;
}